@charset "utf-8";

/* slider style */	
div.imgslider ul {
	padding: 0;
	width: 100%;
	height: 100%;
	overflow:hidden;
	position:absolute;
}
div.imgslider ul li {
	border-radius: 15px;
	overflow: hidden;
	list-style: none;
	display:block;
	position: absolute;
}

div.imgslider {
	width: 1000px;
	height: 500px;
	position: relative;
}

div.imgslider .arrow-right
{
	z-index: 999;
	top: 150px;
	background: url('../img/arrows.png') top right no-repeat;
	position: absolute;
	right: 0px;
	display:block;
	width: 57px;
	height: 57px;
}

div.imgslider .arrow-left
{
	z-index: 999;
	top: 150px;
	background: url('../img/arrows.png') top left no-repeat;
	position: absolute;
	left: 0px;
	display:block;
	width: 57px;
	height: 57px;
}
/* end of slider style */